@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea,
select {
  @apply border border-primaryDark bg-secondaryBg rounded-lg px-1 mb-2 w-full placeholder:text-primaryDark/50;
}

input:focus,
textarea:focus,
select:focus {
  @apply border-secondary;
}

label {
  @apply text-primaryDark font-semibold;
}

table.basic {
  @apply bg-secondaryBg w-full;
}

table.basic tr td {
  @apply p-1;
}

table.basic thead {
  @apply bg-primaryDark text-secondaryBg border border-primaryDark;
}

table.basic a {
  @apply bg-secondary text-secondaryBg text-sm p-1 rounded-md px-2 inline-flex gap-1 mx-1;
}

h1 {
  @apply text-3xl font-bold text-primaryDark;
}

h2 {
  @apply font-semibold mt-2;
}

.btn-primary {
  @apply bg-secondary text-secondaryBg px-2 py-1 rounded-lg;
}

.btn-default {
  @apply bg-primaryDark text-secondaryBg px-2 py-1 rounded-lg;
}

.coupon {
  @apply max-w-md bg-primaryDark rounded-md p-2 mb-2 text-secondaryBg;
}

.coupon label {
  @apply text-secondaryBg;
}

.coupon input,
.coupon select {
  @apply bg-secondaryBg text-primaryDark rounded-md;
}
